@import "tailwindcss";

:root {
  --background: #fafaf9;
  --foreground: #1c1917;
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d6d3d1;
  border-radius: 3px;
}
